.page-header{
    min-height: 30vh;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.page-body{
    margin-bottom: 15vh;

}
.Search_class{
    margin-left: 60vw;
}

.Search_bar{
    width: 400px;
    height: 35px;
    background: transparent;
    border-radius: 15px;
    padding: 10px;
    outline-style: solid;
    outline-width: 1px;
    margin: 20px;
    cursor: pointer;
    outline-style: solid;
}

.Search_bttn{
    margin-left: -90px;
    cursor: pointer;
    background-color: #fff;
    padding-right: 5px;
}


.destination{
    display: flex;
    flex-wrap: wrap;
}
.resorvation-card{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin: auto;
    width: 90vw;
}

.Row_1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Row_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.location-card{
    max-width: 90%;
    min-height:50vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 2%;
}

.images{
    height: 50vh;
    max-width: 98%;
    border-radius: 10px ;
    margin: 1%;
}
 .card-line{
    background-color: #000;
    height: 2px;
    width: 100%;
 }
.discriptions{
    font-size: 14px;
    text-align: justify;
}

.card-details{
    padding: 2rem;
}

.read-more-button{
color: #4d67ff;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
}
.read-more-button:hover{
    transition: all 0.2s ease-in-out;
    color: #0026ff;
    font-weight: 700;
}

.navigate{
    font-size: 14px;
    text-decoration: none;
}

.navigate-icon{
    margin-bottom: -2px;
}

.booking-btn{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    
}

/* ------------------------------------------------------------------ */
.resturent-images{
    display: flex;
}


.featured-images{
    display: flex;
    flex-direction: column;
}

.down-images{
    width: 94%;
    height: 50%;
    margin: 4% 4% 4% 2%;
}

.res-services{
    margin-left: 40px;
    float: left;

}
