*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
  font-weight: 500;
}
body {
  font-size: 1.8rem;
}
li {
  list-style: none;
}

.sitedetails{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo{
  height: 5vh;
  margin: 2vh 2vh 1vh;
}

.nav__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.nav__link:hover{
  color: #04d532;
}


.nav {
  display: flex;
  align-items: center;
  height: 7vh;
  justify-content: space-between;

}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  color: #04d532;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 60vh;
    width: 200px;
    background: rgb(163, 169, 175);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    color: black;
    
  }
}

.btn{
  margin-right: 30px;
  border-radius: 4px;
  background: #04d532;
  padding: 8px 22px;
  color: #E6E6E6;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
}
.btn:hover {
    transition: all 0.2s ease-in-out;
    background: #039d24;
    color: #fff;}

/* Active Class */
.nav__active {
  transform: translateX(0%);
  padding: 0.5rem;
  border-bottom: 2px solid #04d532;
  border-bottom-left-radius: 7px ;
  color: #000;
  
}

.navdown__active{
  transform: translateX(0%);
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}