*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
  font-weight: 600;
}
body {
  font-size: 1.8rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav {
  display: flex;
  align-items: center;
  justify-content:end;
  height: 7vh;

}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    
  }
}

.btn{
    margin-right: 30px;
     border-radius: 4px;
  background: #04d532;
  padding: 10px 22px;
  color: #E6E6E6;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
}
.btn:hover {
    transition: all 0.2s ease-in-out;
    background: #039d24;
    color: #fff;}

/* Active Class */
.nav__active {
  transform: translateX(0%);
  
}


/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}