body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bttn{
border-radius: 4px;
outline-style:solid;
padding: 10px 22px;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
margin: 2%;
}
.bttn:hover {
  transition: all 0.2s ease-in-out;
  color: rgb(40, 255, 32);
}

.join_button{
    background: transparent;
    cursor: pointer;
    outline-style:solid;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin-top: 40px;
    float: right;
    transition: all 0.2s ease-in-out;
}

.join_button:hover{
  transition: all 0.2s ease-in-out;
  color: rgb(40, 255, 32);
}

.imagetag{
  height: 150px;
  width: 200px;
  background-size:cover; 
  margin: 4%;
}

.index-body{
  height: 80vh;
  padding: 20px;
  text-align: center;
}

.main_page_card{
  width: 300px;
  height: 350px;
  border-radius: 20px 20px 10px 10px;
  text-align: left;
  margin: 30px 10px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 2px #E6E6E6;
}

.main_page_card_mini{
  width: 300px;
  height: fit-content;
  padding: 10px 0px;
  border-radius: 20px 20px 10px 10px;
  text-align: left;
  margin: 30px 10px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 2px #E6E6E6;
}